@font-face {
    font-family: 'SpaceGrotesk';
    src: url('./assets/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    overflow: hidden;
		font-family: 'SpaceGrotesk', sans-serif;
}

#app {
    height: 100vh;
    text-align: center;
    background:grey;
    overflow: hidden;
    background: url('./assets/background.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.close {
    position:fixed;
    right:0;
    padding-top:10px;
    padding-right:15px;
}
.titlebar {
    --wails-draggable: drag;
    padding:10px;
}

.title {
    margin-left:30px;
    margin-top:15px;
    margin-bottom:8px;
    text-align:left;
}

.device-box {
    width:284px;
    height: 26px;
    background: url('./assets/device-box-background.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display:inline-block;
    margin-left:100px;
    text-align: center;
}

#titlebar-buttons {
    display: absolute;
    float:right;
  }

  .titlebar-button {
    -webkit-app-region: no-drag;
    background-color: #8F3900;
    border: none;
    color: black;
    padding: 10 20px;
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titlebar-button:hover {
    background-color: #555;
  }

.content {
	font-size:14px;
  width:100%;
  padding:10px !important;
  vertical-align:top;
}

.col-axis {
  width:30%;
  padding-left:10px !important;
  display:inline-block !important;
  vertical-align:top;
}

.col-effect {
  width:30%;
  padding-left:10px !important;
  display:inline-block !important;
  vertical-align:top;
}

.col-angle {
  width:30%;
  display:inline-block !important;
  vertical-align:top;
}

.slider-container {
  text-align:left;
  margin-top:25px;
}

.slider-container .slider-disabled {
    width: 90%;
    -webkit-appearance: none;
    height: 10px;
    background: grey;
    outline: none;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider-container .slider {
    width: 90%;
    -webkit-appearance: none;
    height: 10px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.3), red, rgba(255, 0, 0, 0.3));
    outline: none;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider-container .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider-container .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
}

#footer {
    margin-top:40px;
    height: 40px;
		margin-right:25px;
		margin-left:25px;
    background: url('./assets/footer-background.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.status {
    padding-top:2px;

}
