@font-face {
    font-family: 'SpaceGrotesk';
    src: url('./assets/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    overflow: hidden;
		font-family: 'SpaceGrotesk', sans-serif;
}

#app {
    height: 100vh;
    text-align: center;
    background:grey;
    overflow: hidden;
    background: url('./assets/background.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.close {
    position:fixed;
    right:0;
    padding-top:10px;
    padding-right:15px;
}
.titlebar {
    --wails-draggable: drag;
    padding:10px;
}

.title {
    margin-left:30px;
    margin-top:15px;
    margin-bottom:8px;
    text-align:left;
}

.device-box {
    width:284px;
    height: 26px;
    background: url('./assets/device-box-background.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display:inline-block;
    margin-left:100px;
    text-align: center;
}

#titlebar-buttons {
    display: absolute;
    float:right;
  }

  .titlebar-button {
    -webkit-app-region: no-drag;
    background-color:  #3f211f;
    border: none;
    color: white;
    padding: 10 20px;
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titlebar-button:hover {
    background-color: #f03e31;;
  }

.content {
	font-size:14px;
  width:100%;
  height: 420px;
  padding:10px !important;
  vertical-align:top;
}

.col-axis {
  width:30%;
  padding-left:10px !important;
  display:inline-block !important;
  vertical-align:top;
}

.col-effect {
  width:30%;
  padding-left:10px !important;
  display:inline-block !important;
  vertical-align:top;
}

.col-angle {
  width:30%;
  display:inline-block !important;
  vertical-align:top;
}

.slider-container {
  text-align:left;
  margin-top:25px;
}

.slider-container .slider-disabled {
    width: 90%;
    -webkit-appearance: none;
    height: 10px;
    background: grey;
    outline: none;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider-container .slider {
    width: 90%;
    -webkit-appearance: none;
    height: 10px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.3), red, rgba(255, 0, 0, 0.3));
    outline: none;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider-container .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider-container .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
}

#footer {
    text-align: left;
    margin-top:30px;
    vertical-align: top;
    padding-left: 30px;
    height: 40px;
		margin-right:25px;
		margin-left:25px;
    background: url('./assets/footer-background.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.status {
    padding-top:2px;
}

.connected-indicator {
  display:inline-block;
  margin-right: 10px;
  border-radius: 5px;
  background: green;
  width: 10px;
  height: 10px;
}

.disconnected-indicator {
  display:inline-block;
  margin-right: 10px;
  border-radius: 5px;
  background: grey;
  width: 10px;
  height: 10px;
}

.set-center-button {
  background: #3f211f;
  border: 0px;
  color: white;
  -webkit-transform: skew(-10deg);
  padding: 5px 10px 5px 10px;
}


.skew {
  -webkit-transform: skew(-10deg);
}

.set-center-button:hover {
  background: #f03e31;
}
.set-center-button:active {
  background: #580d08;
}

.blinking-save-button {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { background-color: #f03e31; }
  50% { background-color: #3f211f; }
  100% { background-color: #f03e31; }
}

.skewed-button {
  background: #3f211f;
  border: 0px;
  color: white;
  -webkit-transform: skew(-10deg);
  padding: 5px 10px 5px 10px;
  display: inline-block;
}
.skewed-button-active {
  background: #f03e31 !important;
}

.skewed-button:hover {
  background: #f03e31;
}
.skewed-button:active {
  background: #580d08;
}

.disabled {
  background: grey !important;
}

.url {
  text-decoration: none;
  color: white;

}

.current-profile {
  margin-right: 2px;
  background: #3f211f;
  border: 0px;
  color: white;
  -webkit-transform: skew(-10deg);
  padding: 5px 10px 5px 10px;
  display: inline-block;
}

.profile-item {
  height: 30px;
  padding-top: 10px;
  margin-left: -40px;
  width: 100%;
  background: #3f211f;
  border: 0px;
  color: white;
  display: inline-block;
}

.profile-item:hover {
  background: #f03e31;
}
.profile-item:active {
  background: #580d08;
}

.transparent-blur {
    /* Set a background color with alpha transparency */
    background: rgba(0, 0, 0, 0.7); /* Adjust the transparency as needed */
    
    /* Apply blur effect */
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
}

.tooltip {
  position: fixed; /* Use fixed position to follow the cursor */
  background-color: #333;
  width: 300px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  white-space: wrap;
  font-size: 12px;
  z-index: 10;
  pointer-events: none;
  transform: translate(-50%, -100%);
}